* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.solvg_body {
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  min-height: 100vh;
  background: #ebf0fc;
}

.solvg_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-left: 59px;
}

.solvg_container .solvg_card {
  position: relative;
  height: 330px;
  width: 300px;
  margin: 12px;
  margin-bottom: 8rem;
   overflow: hidden; 
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.1);
  /* cursor: pointer; */
  /* transition: box-shadow 0.5s ease-in-out; */
}

.solvg_container .solvg_card:hover {
  box-shadow: 0 0 40px rgba(0, 123, 255, 0.2);
}

.serv_tophead {
  font-weight: 600;
  font-size: 46px;
  color: #030f27;
   margin-top: 10px; 
}

.solv_p {
  font-size: 20px;
  font-weight: 400;
  margin-top: -1rem;
  color: rgb(239, 227, 227);
}

.solvg_container .solvg_card .solvg_imgBox,
.solvg_container .solvg_card .solvg_contentBox {
  position: absolute;
  top: 0;
  left: 0;
   width: 100%; 
   height: 100%; 
  
}

.solvg_container .solvg_card .solvg_imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  margin-left: 5rem;
  margin-top: 60px;
}

.solvg_container .solvg_card .solvg_contentBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 330px;
  background-color: rgb(37, 38, 48);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  /* transition-delay: 0.3s; */
}

.solvg_container .solvg_card:hover .solvg_contentBox::before {
  transform: scaleX(1);
 transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.solvg_container .solvg_card .solvg_contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solvg_container .solvg_card .solvg_contentBox .solvgc_content {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
   transform: translateX(-300px); 
  
  /* transition-delay: 0s; */
}

.solvg_container .solvg_card:hover .solvg_contentBox .solvgc_content {
  transform: translateX(0);
   transition-delay: 0.5s; 
}

.solvg_container .solvg_card .solvg_contentBox .solvgc_content .solvgc_h3 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
 
color: #fff;
  }
  
  .solvg_container .solvg_card .solvg_contentBox .solvgc_content .solvgc_p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #fff;
  }
  
  .solvgice_h1 {
  position: absolute;
  margin-top: 15rem;
  margin-left: 3.4rem;
  color: #030f22;
  font-weight: 500;
  font-size: 26px;
  }
  
  .solv_p2 {
  font-size: 23px;
  font-weight: 400;
  margin-top: -10rem;
  color: #8c89a2;
  }
  
  .solv_p2,
  span {
  text-align: center;
  justify-content: center;
  }
  
  
  
  
  