.our-partner-datas {
    width: 100%;
    background-color: white;
    height: 60vh;
     margin-top: -50px; 
    text-align: center;
   
  }
  
  .our-part-h2 {
    color: #030F27;
    padding-top: -0.2rem;
    font-size: 42px;
    padding-left: 1rem;
    font-weight: 500;
    
    font-family: "Ubuntu";
  }
  
  .our_part_image_wrap {
    margin: 0px 50px;
    top: 20px;
    height: 140px; 
    width: 180px; 
    margin-top: 3rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .our-img-sty {
    height: 100%; 
    width: 100%; 
  }
  